<!doctype html>
<html> 
{% extends "base.html" %}
{% block title %}Decks - Oboe{% endblock %}
{% block content %}
<div class="about-section paddingTB60 gray-bg">
                <div class="container">
                    <div class="row">
						<div class="col-md-7 col-sm-6">
							<div class="about-title clearfix">
								<h1>Useful Resources</h1>
								<h3>Online Japanese dictionaries</h3>
								<h4>- <a href="https://jisho.org/">Jisho</a>  <small>Oboe favourite</small></h4>
								<h4>- <a href="https://tangorin.com/">Tangorin</a></h4>
								<h4>- <a href="https://www.japandict.com/">JapanDict</a></h4>
								<p class="about-paddingB"></p>
								<h3>Grammar</h3>
								<h4>- <a href="http://www.guidetojapanese.org/learn/grammar">Tae Kim</a> - Grammar guide <small>Oboe favourite</small></h4>
								<h4>- <a href="http://genki.japantimes.co.jp/self/verbadjective-conjugation-practice">Genki- Verb/Adjective conjugation practice</a></h4>
								<h4>- <a href="https://marugotoweb.jp/en/index.php">MARUGOTO Plus </a> - official coursebook of the Japan Foundation.</h4>
								<h4>- <a href="https://www.imabi.net/">IMABI</a> - Lesson based grammar guide. </h4>
								<h3>Practice material</h3>
								<h4>- <a href="https://www3.nhk.or.jp/news/easy/">NHK News Easy</a> - Japanese childrens news website.<small>Oboe favourite</small></h4>
								<h4>- <a href="https://www.asagaku.com/">KODOMO ASAHI</a> - Japanese childrens news website.</h4>
								<h4>- <a href="http://life.ou.edu/stories/">Traditional Japanese childrens stories</a></h4>
							</div>
							
						</div>	
						</div>	
                    </div>
                </div>
{% endblock %}
</html>